[submodule "Backend/Messenger-ArgoCD"]
	path = Backend/Messenger-ArgoCD
	url = git@github.com:BestMessenger/Messenger-ArgoCD.git
[submodule "Backend/Profile-Service"]
	path = Backend/Profile-Service
	url = git@github.com:BestMessenger/Profile-Service.git
[submodule "Backend/Diskivery-Service"]
        path = Backend/Diskivery-Service
        url = git@github.com:BestMessenger/Diskovery-service.git
[submodule "Backend/Gateway-Service"]
        path = Backend/Gateway-Service
        url = git@github.com:BestMessenger/Gateway-service.git
[submodule "Backend/Group-Service"]
        path = Backend/Group-Service
        url = git@github.com:BestMessenger/Group-Service.git
[submodule "Backend/LastSeen_service"]
        path = Backend/LastSeen_service
        url = git@github.com:BestMessenger/LastSeen-Service.git
[submodule "Backend/Message-Service"]
        path = Backend/Message-Service
        url = git@github.com:BestMessenger/Messaging-Service.git
[submodule "Backend/UserProfile-Service"]
        path = Backend/UserProfile-Service
        url = git@github.com:BestMessenger/UserProfile-Service.git
[submodule "Backend/Storage-Service"]
	path = Backend/Storage-Service
	url = git@github.com:BestMessenger/Storage-Service.git

