[submodule "Backend/Messaging-Service"]
	path = Backend/Messaging-Service
	url = git@github.com:BestMessenger/Messaging-Service.git
[submodule "Backend/Gateway-Service"]
	path = Backend/Gateway-Service
	url = git@github.com:BestMessenger/Gateway-service.git
[submodule "Backend/Group-Service"]
	path = Backend/Group-Service
	url = git@github.com:BestMessenger/Group-Service.git
[submodule "Backend/Diskivery-Service"]
	path = Backend/Diskivery-Service
	url = git@github.com:BestMessenger/Diskovery-service.git
[submodule "Backend/LastSeen-Service"]
	path = Backend/LastSeen-Service
	url = git@github.com:BestMessenger/LastSeen-Service.git
[submodule "Backend/Asset-Service"]
	path = Backend/Asset-Service
	url = git@github.com:BestMessenger/Asset-Service.git
[submodule "Backend/Relay-Service"]
	path = Backend/Relay-Service
	url = git@github.com:BestMessenger/Relay-Service.git
[submodule "Backend/Session-Service"]
	path = Backend/Session-Service
	url = git@github.com:BestMessenger/Session-Service.git
[submodule "Backend/UserProfile-Service"]
	path = Backend/UserProfile-Service
	url = git@github.com:BestMessenger/UserProfile-Service.git
[submodule "Backend/Message-Service"]
	path = Backend/Message-Service
	url = git@github.com:BestMessenger/Messaging-Service.git
[submodule "Backend/LastSeen_service"]
	path = Backend/LastSeen_service
	url = git@github.com:BestMessenger/LastSeen-Service.git
