

.chatList {
  padding: calc((30 / 390) * 100vmin) calc((25 / 390) * 100vmin);
  overflow-y: auto;
  max-height: 80vh;
}
.chatWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc((100 / 390) * 100vmin);
  align-items: center;
  margin-bottom: calc((30 / 390) * 100vmin);
}

.ava {
  width: calc((65 / 390) * 100vmin);
  height: calc((65 / 390) * 100vmin);
  background-size: cover;
  border-radius: calc((50 / 390) * 100vmin);
}

.chatTextWrapper {
  margin-left: calc((15 / 390) * 100vmin);
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: 100%;
}

.nameAndTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nameWrapper {
  display: flex;
}

.name {
  color: var(--main-text);
  font-size: calc((15 / 390) * 100vmin);
  font-style: normal;
  font-weight: 800;
  line-height: calc((24 / 390) * 100vmin);
}

.timeAndCheck {
  display: flex;
  align-items: center;
}

.time {
  color: var(--secondBtn);
  text-align: right;

  font-size: calc((14 / 390) * 100vmin);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.chatMsg {
  display: flex;
  flex-direction: column;
}

.receiver {
  color: var(--main-color);
  font-size: calc((14 / 390) * 100vmin);
  font-style: normal;
  font-weight: 400;
  line-height: calc((20 / 390) * 100vmin);
}

.previewMsg {
  color: var(--secondBtn);
  font-size: calc((14 / 390) * 100vmin);
  font-style: normal;
  font-weight: 400;
  line-height: calc((20 / 390) * 100vmin);
}

.check {
  margin-right: calc((5 / 390) * 100vmin);
}

.hrLine {
  height: calc((2 / 390) * 100vmin);
  width: -webkit-fill-available;
  background-color: var(--main-color);
}

.qwe {
  display: flex;
  flex-direction: column;
}
.deletePhoto{
  display: none;
}

.notdeletePhoto{
  margin-right: calc((5 / 390) * 100vmin);
}