@keyframes scaleIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.8);
        opacity: 0;
    }
}

.chatWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

.isClosing {
    animation: scaleOut 0.3s cubic-bezier(0.8, 0.03, 0.07, 1.14);
}

.chatWrapper:not(.isClosing) {
    animation: scaleIn 0.3s cubic-bezier(0.8, 0.03, 0.07, 1.14);
}

  
.chat {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px calc((20 / 390) * 100vmin);
  align-items: center;
}
.firstPartWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.svgBtnWrapper{
    margin-right: calc((15 / 390) * 100vmin);
}
.chatHeaderInfo {
  display: flex;
  align-items: center;

}

.chatNameWrapper {
  display: flex;
  flex-direction: column;
  margin-left: calc((10 / 390) * 100vmin);
}

.chatName {
  color: var(--white);
  font-size: calc((16 / 390) * 100vmin);
  font-weight: 700;
  line-height: calc((24 / 390) * 100vmin);
  letter-spacing: calc((0.6 / 390) * 100vmin);
}

.chatStatus {
  color: var(--semi-white);
  font-size: calc((13 / 390) * 100vmin);
  font-weight: 400;
  line-height: calc((19 / 390) * 100vmin);
}

.chatAva {
  width: calc((65 / 390) * 100vmin);
  height: calc((65 / 390) * 100vmin);
  background-size: cover;
  border-radius: calc((50 / 390) * 100vmin);
}

.callAndOther{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc((50 / 390) * 100vmin);
}