@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --mainFont: "Roboto";
  --bg: linear-gradient(180deg, #f8ca84 20.83%, #b8d47d 100%);
  --btn: #da8a50;
  --darkGreen: #44621d;
  --main-color: #819c3a;
  --semi-white: #dae3a6;
  --yourMsg: #faffde;
  --mainBg: linear-gradient(180deg, #fffbf5 0%, #faffef 100%);
  --white: #fff;
  --secondBtn: #757272;
  --main-text: #000;
  --size10: calc((10 / 390) * 100vmin);
  --size14: calc((14 / 390) * 100vmin);
  --size16: calc((16 / 390) * 100vmin);
  --size20: calc((20 / 390) * 100vmin);
  --size24: calc((24 / 390) * 100vmin);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--mainFont);
  color: var(--white);
}


